.form {
}

.testRow {
  margin-bottom: 0;

  .testBtn {
    margin-right: 8px;
  }

  .testTag {
    height: 24px;
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    font-size: 11px;
    line-height: 24px;
  }
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
