.root {
  margin-bottom: 24px;
}

.header {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 4px !important;
}

.subtitle {
  margin-bottom: 0 !important;
  font-size: 13px;
  line-height: 1.6;
}

.card + .card {
  margin-top: 16px;
}

.cardTitle {
  margin-bottom: 0 !important;
}
