.container {

  h3 {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
  }
}

.toolbar {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.chartCard {
  border-radius: 8px !important;
  box-shadow: none !important;
}
