.map-and-layers-layout {
  height: 100%;
  background: #0f172a;
}

.map-sider {
  background: #1e293b !important;
  overflow-y: auto;
}

.map-detail-sider {
  background: #f8fafc !important;
  border-left: 1px solid #e2e8f0;
  overflow-y: auto;
}
