// GeoWork - TaskModeSelector Styles

.container {
  display: flex;
  align-items: center;
}

.modeSelect {
  width: 160px;

  :global(.ant-select-selector) {

    &:hover {
    }
  }

  :global(.ant-select-selection-item) {
  }
}
