.card {
  margin-top: 8px;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.steps {
  margin-bottom: 12px;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 32px;
}
